$cor-combate: #a79179;
$cor-destino: #a0abbe;
$cor-magia: #866a96;
$cor-tormenta: #cf7b7b;
$cor-poder-concedido: #cea8bc;
$cor-geral: #222f3e;

$cor-texto: #1f1f1f;
$cor-texto-claro: #f9f9f9;
$cinza: #8395a7;

$cor-nivel: #10ac84;
$cor-pericia: #0abde3;
$cor-atributo: #ff9f43;
$cor-proficiencia: #5f27cd;
